@use "../../../styles/mixins";

.header {
  height: 80px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  clip-path: clip;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;

  &__btn {
    background: none;
    border: 2px solid rgba(97, 255, 202, 1);
    border-radius: 12px;
    padding: 10px 32px;
    transition: box-shadow 0.2s;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    &:active {
      box-shadow: none;
    }
  }
}

.users {
  @include mixins.flex-center;
  background: hsl(231, 15%, 18%);

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 80px;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 20px 40px;
    margin: 30px 0;
    border-radius: 8px;
    box-shadow: rgba(97, 255, 202, 0.4) 5px 5px,
      rgba(97, 255, 202, 0.3) 10px 10px, rgba(97, 255, 202, 0.2) 15px 15px,
      rgba(97, 255, 202, 0.1) 20px 20px;
  }

  &__user-data {
    margin-right: 50px;
  }

  .link {
    height: 30px;
    cursor: pointer;
    &__image {
      height: 100%;
    }
  }
}
