@use '../../../styles/mixins';

:host {
  @include mixins.full-size();
}

.home {
  @include mixins.full-size();
  background-color: hsl(0, 0%, 0%);
  display: grid;
  grid-template-areas: 'left center right';
  grid-template-columns: 1fr 2fr 1fr;

  &__menu {
    grid-area: 'left';
    padding-top: 20px;
  }

  &__center {
    grid-area: 'center';
  }
}
