<nav class="menu">
  <ul class="menu__column">
    <li class="menu__row">
      <img class="menu__icon" src="../../../assets/twitter-logo.png" width="25" alt="home">
    </li>
    <li class="menu__row">
      <img class="menu__icon" src="../../../assets/home.png" alt="home">
      Página inicial
    </li>
    <li class="menu__row">
      <img class="menu__icon" src="../../../assets/notify.png" alt="home">
      Notificações
    </li>
    <li class="menu__row">
      <img class="menu__icon" src="../../../assets/message.png" alt="home">
      Mensagens
    </li>
    <li class="menu__row">
      <img class="menu__icon" src="../../../assets/favorite.png" alt="home">
      Favoritos
    </li>
    <li class="menu__row">
      <img class="menu__icon" src="../../../assets/profile.png" alt="home">
      Perfil
    </li>
    <li class="menu__row">
      <button class="menu__button">Tweet</button>
    </li>
  </ul>
  <footer class="menu__footer">
    Nome completo
  </footer>
</nav>
